.Bars{
    height:80%;
    display: flex;
    /*  */
    /* flex-direction: column; */
    justify-content: space-between;
    /* align-items: flex-start; */
    align-items: center;
    margin: 0px 10%;
}